<% const path = data?.path; %>

<footer class="footer">
	<nav class="footer-nav">
		<ul>
			<li>
				<a href="/">
					<span class="<%= path === '/' ? 'footer-label' : '' %>"
						>Dashboard</span
					>
					<span
						class="<%= path === '/' ? 'footer-indicator' : '' %>"
						aria-hidden="true"
					></span>
				</a>
			</li>

			<li>
				<a href="/programs">
					<span class="<%= path === '/programs' ? 'footer-label' : '' %>"
						>Programs</span
					>
					<span
						class="<%= path === '/programs' ? 'footer-indicator' : '' %>"
						aria-hidden="true"
					></span>
				</a>
			</li>

			<li>
				<a href="/profile">
					<span class="<%= path === '/profile' ? 'footer-label' : '' %>"
						>Profile</span
					>
					<span
						class="<%= path === '/profile' ? 'footer-indicator' : '' %>"
						aria-hidden="true"
					></span>
				</a>
			</li>
		</ul>
	</nav>
</footer>
