<%
const currentItemId = line?.currentItemId ? Number(line?.currentItemId) : null;
const arr = line?.arr || [];
const entity = line?.entity || "";
const path = line?.path || "";
const basicLineId = line?.basicLineId || "";
const modalId = line?.modalId || "0";

const getClass = (itemId) => {
	if(itemId === currentItemId) { 
		return 'line-card-button selectItemButton selected';
	}

	return 'line-card-button selectItemButton not-selected';
};
%>

<div class="basic-line" data-id="<%= basicLineId %>" >
	<ul>
		<% arr.forEach((item,index) => { %>
			<li data-item-id="<%= item.id %>" class="line-card">
				<a class="<%= getClass(item.id)  %>" href="<%= `${path}${item.id}` %>">
					<p><%= `P${index+1}` %></p>
					<div>
						<p><%= item.name %></p>
							<% if(currentItemId === item.id){ %>
								<p>ACTIVE <%= entity.toUpperCase() %></p>
							<% } %>		
					</div>
				</a>
			</li>
		<% }) %>
	</ul>
	<div class="line-button-container line-card">
		<button
			type="button"
			class="button"
			data-modal-open="<%= modalId %>"
		>
			<span>+</span>
			<span>ADD NEW</span>
		</button>
	</div>
</div>