<% 
	const userArr = data?.userArr; 
	const programArr = data?.programArr; 
	const cycleArr = data?.cycleArr;
	const sessionArr = data?.sessionArr;
%>

<!doctype html>
<html lang="en">
	<%- include('partials/head'); %>
	<body>

	
			<div class="crud-container"	>
				<h1>Users</h1>
				<div>
					<%- include('partials/userForm'); %>
					<%- include('partials/listFromArray', { data: { list: userArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
				</div>
			</div>
			<div class="crud-container">
				<h1>Programs</h1>
				<div>
					<%- include('partials/programForm'); %>
					<%- include('partials/listFromArray', { data: { list: programArr, listItem: (item) => `<li>${item.user_name} + ${item.goal_name} -> ${item.name}</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1><Cap></Cap>Cycles</h1>
				<div>
					<%- include('partials/cycleForm' ); %>
					<%- include('partials/listFromArray', { data: { list: cycleArr, listItem: (item) => `<li>${item.program_name} - ${item.cycle_name} (${item.cycle_order})</li>` } }); %>
				</div>
			</div>

				<div class="crud-container">
				<h1>Sessions</h1>
				<div>
					<%- include('partials/sessionForm' ); %>
					<%- include('partials/listFromArray', { data: { list: sessionArr, listItem: (item) => `<li>${item.cycle_name} - ${item.session_name} (${item.session_order})</li>` } }); %>
				</div>
			</div>

	</body>
</html>
