<% 
	const userArr = data?.userArr; 
	const programArr = data?.programArr; 
	const cycleArr = data?.cycleArr;
	const sessionArr = data?.sessionArr;
	const sessionStepArr = data?.sessionStepArr;
	const stepTypeArr = data?.stepTypeArr;
	const exerciseArr = data?.exerciseArr;
	const movementPatternArr = data?.movementPatternArr;
	const exerciseMuscleArr = data?.exerciseMuscleArr;
	const muscleArr = data?.muscleArr;
	const equipmentArr = data?.equipmentArr;
	const exerciseVariantArr = data?.exerciseVariantArr;
%>

<!doctype html>
<html lang="en">
	<%- include('partials/head'); %>
	<body>

	
			<div class="crud-container"	>
				<h1>Users</h1>
				<div>
					<%- include('partials/userForm'); %>
					<%- include('partials/listFromArray', { data: { list: userArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
				</div>
			</div>
			<div class="crud-container">
				<h1>Programs</h1>
				<div>
					<%- include('partials/programForm'); %>
					<%- include('partials/listFromArray', { data: { list: programArr, listItem: (item) => `<li>${item.user_name} + ${item.goal_name} -> ${item.name}</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1><Cap></Cap>Cycles</h1>
				<div>
					<%- include('partials/cycleForm' ); %>
					<%- include('partials/listFromArray', { data: { list: cycleArr, listItem: (item) => `<li>${item.program_name} - ${item.cycle_name} (${item.cycle_order})</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1>Sessions</h1>
				<div>
					<%- include('partials/sessionForm' ); %>
					<%- include('partials/listFromArray', { data: { list: sessionArr, listItem: (item) => `<li>${item.cycle_name} - ${item.session_name} (${item.session_order})</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1>Sessions steps</h1>
				<div>
					<%- include('partials/sessionStepForm' ); %>
					<%- include('partials/listFromArray', { data: { list: sessionStepArr, listItem: (item) => `<li>${item.session_name} - ${item.name} - ${item.step_type_name} - ${item.exercise_variant_name} (${item.step_order})</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1>Exercises</h1>
				<div>
					<%- include('partials/exerciseForm' ); %>
					<%- include('partials/listFromArray', { data: { list: exerciseArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1>Exercise Muscles</h1>
				<div>
					<%- include('partials/exerciseMusclesForm' ); %>
					<%- include('partials/listFromArray', { data: { list: exerciseMuscleArr, listItem: (item) => `<li>${item.exercise_name} - ${item.muscle_common_name} (${item.role})</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1>Exercise variants</h1>
				<div>
					<%- include('partials/exerciseVariantsForm' ); %>
					<%- include('partials/listFromArray', { data: { list: exerciseVariantArr, listItem: (item) => `<li>${item.name} (${item.exercise_name} - ${item.equipment_name})</li>` } }); %>
				</div>
			</div>
	</body>
</html>
