<% 
	const userArr = data?.userArr; 
	const programArr = data?.programArr; 
	const cycleArr = data?.cycleArr;
	const cycleOrderArr = data?.cycleOrderArr;
%>

<!doctype html>
<html lang="en">
	<%- include('partials/head'); %>
	<body>

		<main>		
			<div class="crud-container"	>
				<h1>Users</h1>
				<div>
					<%- include('partials/userForm'); %>
					<%- include('partials/listFromArray', { data: { list: userArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
				</div>
			</div>
			<div class="crud-container">
				<h1>Programs</h1>
				<div>
					<%- include('partials/programForm'); %>
					<%- include('partials/listFromArray', { data: { list: programArr, listItem: (item) => `<li>${item.user_name} + ${item.goal_name} -> ${item.name}</li>` } }); %>
				</div>
			</div>

			<div class="crud-container">
				<h1>cycles</h1>
				<div>
					<%- include('partials/cycleForm'); %>
					<%- include('partials/listFromArray', { data: { list: cycleArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
				</div>
			</div>
		</main>
	</body>
</html>
