<% 
	const userArr = data?.userArr; 
	const programArr = data?.programArr; 
%>

<!doctype html>
<html lang="en">
	<%- include('partials/head'); %>
	<body>

		<main>		
			<div class="crud-container"	>
				<%- include('partials/userForm'); %>
				<%- include('partials/listFromArray', { data: { list: userArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
			</div>
			<div class="crud-container">
				<%- include('partials/programForm'); %>
					<%- include('partials/listFromArray', { data: { list: programArr, listItem: (item) => `<li>${item.name}</li>` } }); %>
			</div>
		</main>
	</body>
</html>
