<% 
const programArr = locals?.programArr || [];
const createProgramModalId = "createProgramModal";
const setProgramPath = "/app_state/set_current_program";
const setProgramDestination = "/profile";
const setProgramPayloadName = "programId";

const cycleArr = locals?.cycleArr || [];
const createCycleModalId = "createCycleModal";
const setCyclePath = "/app_state/set_current_cycle";
const setCycleDestination = "/programs";
const setCyclePayloadName = "cycleId";

const sessionArr = locals?.sessionArr || [];
const createSessionModalId = "createSessionModal";
const setSessionPath = "/app_state/set_current_session";
const setSessionDestination = "/programs";
const setSessionPayloadName = "sessionId";

const stepsArr = locals?.stepArr || [];
%>

<main class="main programs">
	<% if( programArr.length === 0){ %>
		<div>
			<h1>PROGRAM<br />ESSENTIALS</h1>
			<p>
			Initialize your elite performance protocol by defining the high-level architecture of this training block.
			</p>
	</div>
	<% } else { %>
		<h1>CHOOSE THE ACTIVE PROGRAM</h1>
	<% } %>

	<%- include("partials/basicLine", {line: { arr: programArr, modalId: createProgramModalId, path: setProgramPath, 
		currentItemId: locals?.currProgramId, payloadName: setProgramPayloadName, destination: setProgramDestination}}) %>

	<% if(locals?.currProgramId) { %>
		<h2>Cycles</h2>

		<%- include("partials/basicLine", {line: { arr:cycleArr , modalId: createCycleModalId, path: setCyclePath,
			currentItemId: locals?.currCycleId, payloadName: setCyclePayloadName, destination: setCycleDestination }}) %>
	<% } %>

	<% if(locals?.currCycleId) { %>
		<h3>Sessions</h3>

		<%- include("partials/basicLine", {line: { arr:sessionArr , modalId: createSessionModalId, path: setSessionPath,
			currentItemId: locals?.currSessionId, payloadName: setSessionPayloadName, destination: setSessionDestination }}) %>
	<% } %>

	<% if(locals?.currSessionId) { %>
		<h4>Steps</h4>

		<div>
			<% if(stepArr.length > 0 ) { %>
				<ul>
					<% stepArr.forEach(step => { %>
						<li> <%= step.exercise_variant_name %></li>
					<% }) %>
				</ul>
			<% } %>
		</div>

		<div>
			<%- include("partials/stepForm") %>
		</div>
	<% } %>
</main>


<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
	modal: {
		id: createProgramModalId,
		title: "Create program",
		description: "Fill in the program information below.",
		renderContent: () => include("partials/newProgramForm")
	}
}) %>

<%- include("partials/basicModal", {
	modal: {
		id: createCycleModalId,
		title: "Create cycle",
		description: "Fill in the cycle information below.",
		renderContent: () => include("partials/cycleForm")
	}
}) %>

<%- include("partials/basicModal", {
	modal: {
		id: createSessionModalId,
		title: "Create session",
		description: "Fill in the session information below.",
		renderContent: () => include("partials/sessionForm")
	}
}) %>