<% 
const programBasicLineId = "programsPageProgramBasicLine";
const programBasicLineEntity = "program";
const programArr = locals?.programArr || [];
const createProgramModalId = "createProgramModal";
const currProgramId = locals?.currProgramId || null;
const chosenProgramPath = "/programs/";

const cycleBasicLineId = "cyclesPageCycleBasicLine";
const cycleBasicLineEntity = "cycle";
const cycleArr = locals?.cycleArr || [];
const createCycleModalId = "createCycleModal";
const currCycleId = locals?.currCycleId || null;
const chosenCyclePath = `/programs/${currProgramId}/cycles/`;


const sessionArr = locals?.sessionArr || [];

const currUserId = locals?.currentUser?.id || null;
const currProgram = locals?.currentProgram || {};
const currSessionId = locals?.currSessionId || null;
const currDayId = locals?.currDayId || null;


const startDate = currProgram?.start_date && new Date(currProgram.start_date) || new Date();

function isDayInACycle(dayIndex, cycleArr){
	let lastCycleIndex = 0;
	for(let i =0; i < cycleArr.length; i++){
		const {id, cycle_size} = cycleArr[i];

		if(dayIndex <= lastCycleIndex + cycle_size){
			return id;
		}

		lastCycleIndex += cycle_size;
	}

	return null;
}	;

function getDayClass(dayIndex, cycleArr, currCycleId){
	let className = "";

	if(dayIndex === 0){
		className += "startDate ";
	}

	const dayCycle = isDayInACycle(dayIndex, cycleArr);

	if(dayCycle === null){
		className += "no-cycle";
		return className;
	}

	if(dayCycle === currCycleId){
		className += "cycle-selected";
		return className;
	}

	className += "cycle-not-selected";
	return className;
}


const dayArr = range(31).map(day=> {
	const date = formatDate(addDays(startDate, day), "dd/MM/yyyy");
	const className = getDayClass(day, cycleArr, currCycleId);
	const hasCycleSelected = currCycleId === isDayInACycle(day, cycleArr);

	return {
		id: day, 
		date,
		hasCycleSelected,
		className,
	}
});

const getHref = (dayId) => {
	const path = `/programs/${currProgramId}/cycles/${currCycleId}/day/${dayId}`;

	return path;
}

const getHref2 = (dayId) => {
	const path = `/programs/day/${dayId}`;

	return path;
}

<!-- console.log({dayArr}); -->

%>

<main class="main programs">
	<div>
		<% if(currUserId){ %>
			<h1>CHOOSE THE ACTIVE PROGRAM</h1>
				<%- include("partials/newBasicLine", {line: { basicLineId: programBasicLineId, entity: programBasicLineEntity, arr: programArr, modalId: createProgramModalId, currentItemId: currProgramId, path: chosenProgramPath }}) %>
			<% if(currProgramId) { %>
				<h2>Cycles</h2>
				<%- include("partials/newBasicLine", {line: { basicLineId: cycleBasicLineId, entity: cycleBasicLineEntity, arr: cycleArr, modalId: createCycleModalId, currentItemId: currCycleId, path: chosenCyclePath }}) %>
			<% } %>
		<% } %>
	</div>

	<div class="basic-calendar"> 
		<ul class="list">
			<% dayArr.forEach((day) => { %>
				<li class="day-item <%= day.className %>"> 
					<% if(day.hasCycleSelected) { %>
						<a data-calendar-session-button="dayId: <%= day.date %>" href="<%= getHref2(day.id) %>">
							<%= day.date %>
						</a>
					<% } else { %>
						<p >
							<%= day.date %>
						</p>
					<% } %>
				</li>
			<% }) %>
		</ul>
	</div>

	<!-- <div class="basic-calendar"> 
		<ul class="list">
			<% dayArr.forEach((day) => { %>
				<li class="day-item <%= day.className %>"> 
					<% if(day.hasCycleSelected) { %>
						<button data-calendar-session-button="dayId: <%= day.date %>">
							<%= day.date %>
						</button>
					<% } else { %>
						<p >
							<%= day.date %>
						</p>
					<% } %>
				</li>
			<% }) %>
		</ul>
	</div> -->

	<% if(sessionArr.length > 0){ %>
		<div>
			<ul>
				<% sessionArr.forEach(session => { %>
					<li>
						<p><%= session.name %></p>
					</li>
				<% }) %>
			</ul>
		</div>
	<% } %>

	<% if(currDayId) { %>

		<h3>DAY SELECTED</h3>
		<p><%= dayArr[currDayId].date %></p>
	<% } %>

</main>


<script>
	document.addEventListener("click", async(e) => {
		const dayButton = event.target.closest("[data-calendar-session-button]");

		if(!dayButton) return;

		console.log({session: dayButton?.dataset.calendarSessionButton});

		// const path = "/app_state/set_current_session";
		// const destination = "/programs";

		// const itemId = li.dataset.itemId || null;

		// const res = await fetch(path, {
		// 	method: "POST",
		// 	headers: {
		// 		"Content-Type": "application/json",
		// 	},
		// 	body: JSON.stringify({ sessionId: itemId }),
		// });

		// if(!res.ok) return;

		// window.location.href = destination;
	})

</script>

<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
	modal: {
		id: createProgramModalId,
		title: "Create program",
		description: "Fill in the program information below.",
		renderContent: () => include("partials/newProgramForm")
	}
}) %>

<%- include("partials/basicModal", {
	modal: {
		id: createCycleModalId,
		title: "Create cycle",
		description: "Fill in the cycle information below.",
		renderContent: () => include("partials/cycleForm")
	}
}) %>