<% 
const programBasicLineId = "programsPageProgramBasicLine";
const programBasicLineEntity = "program";
const programArr = locals?.programArr || [];
const createProgramModalId = "createProgramModal";
const currProgramId = locals?.currProgramId || null;
const chosenProgramPath = "/programs/";

const cycleBasicLineId = "cyclesPageCycleBasicLine";
const cycleBasicLineEntity = "cycle";
const cycleArr = locals?.cycleArr || [];
const createCycleModalId = "createCycleModal";
const currCycleId = locals?.currCycleId || null;
const chosenCyclePath = `/programs/${currProgramId}/cycles/`;


const sessionArr = locals?.sessionArr || [];

const currUserId = locals?.currentUser?.id || null;
const currProgram = locals?.currentProgram || {};
const currSessionId = locals?.currSessionId || null;
const currDayId = locals?.currDayId || null;


const startDate = currProgram?.start_date && new Date(currProgram.start_date) || new Date();

function isDayInACycle(dayIndex, cycleArr){
	let lastCycleIndex = 0;
	for(let i =0; i < cycleArr.length; i++){
		const {id, cycle_size} = cycleArr[i];

		if(dayIndex <= lastCycleIndex + cycle_size){
			return id;
		}

		lastCycleIndex += cycle_size;
	}

	return null;
}	;

function getDayClass(dayIndex, cycleArr, currCycleId){
	let className = "";

	if(dayIndex === 1){
		className += "startDate ";
	}

	const dayCycle = isDayInACycle(dayIndex, cycleArr);

	if(dayCycle === null){
		className += "no-cycle";
		return className;
	}

	if(dayCycle === currCycleId){
		className += "day-selected";
		return className;
	}

	className += "cycle-not-selected";
	return className;
}


const dayArr = range(1,32).map(day=> {
	const date = formatDate(addDays(startDate, day - 1 ), "dd/MM/yyyy");
	const className = getDayClass(day, cycleArr, currCycleId);

	const hasCycleSelected = currCycleId === isDayInACycle(day, cycleArr) && currCycleId !== null;

	return {
		id: day, 
		date,
		hasCycleSelected,
		className,
	}
});



const getHref = (dayId) => {
	const path = `/programs/day/${dayId}`;

	return path;
}

%>

<main class="main programs">
	<div>
		<% if(currUserId){ %>
			<h1>CHOOSE THE ACTIVE PROGRAM</h1>
				<%- include("partials/newBasicLine", {line: { basicLineId: programBasicLineId, entity: programBasicLineEntity, arr: programArr, modalId: createProgramModalId, currentItemId: currProgramId, path: chosenProgramPath }}) %>
			<% if(currProgramId) { %>
				<h2>Cycles</h2>
				<%- include("partials/newBasicLine", {line: { basicLineId: cycleBasicLineId, entity: cycleBasicLineEntity, arr: cycleArr, modalId: createCycleModalId, currentItemId: currCycleId, path: chosenCyclePath }}) %>
			<% } %>
		<% } %>
	</div>

	<div class="basic-calendar"> 
		<ul class="list">
			<% dayArr.forEach((day) => { %>
				<li class="session-component <%= day.className %>" data-calendar-day-id="<%= day.id %>"> 
					<div class="container">
						<% if(day?.hasCycleSelected) { %>
							<a data-calendar-day-date="<%= day.date %>"  href="<%= getHref(day.id) %>">
								<p>	<%= day.date %></p>
							</a>
						<% } else { %>
							<p >
								<%= day.date %>
							</p>
						<% } %>
					</div>
				</li>
			<% }) %>
		</ul>
	</div>

	<% if(sessionArr.length > 0){ %>
		<div>
			<ul>
				<% sessionArr.forEach(session => { %>
					<li>
						<p><%= session.name %></p>
					</li>
				<% }) %>
			</ul>
		</div>
	<% } %>

	<% if(currDayId) { %>

		<h3>DAY SELECTED</h3>
		<p><%= dayArr[currDayId].date %></p>
	<% } %>

</main>

<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
	modal: {
		id: createProgramModalId,
		title: "Create program",
		description: "Fill in the program information below.",
		renderContent: () => include("partials/newProgramForm")
	}
}) %>

<%- include("partials/basicModal", {
	modal: {
		id: createCycleModalId,
		title: "Create cycle",
		description: "Fill in the cycle information below.",
		renderContent: () => include("partials/cycleForm")
	}
}) %>