<% 
const programArr = locals?.programArr || [];
const createProgramModalId = "createProgramModal";
const setProgramPath = "/app_state/set_current_program";
const setProgramDestination = "/programs";
const setProgramPayloadName = "programId";

const cycleArr = locals?.cycleArr || [];
const createCycleModalId = "createCycleModal";
const setCyclePath = "/app_state/set_current_cycle";
const setCycleDestination = "/programs";
const setCyclePayloadName = "cycleId";

const sessionArr = locals?.sessionArr || [];

const currUserId = locals?.currentUser?.id || null;
const currProgram = locals?.currentProgram || {};
const currProgramId = locals?.currProgramId || null;
const currCycleId = locals?.currCycleId || null;
const currSessionId = locals?.currSessionId || null;


console.log({currProgram});

console.log({currProgramId, currCycleId, currSessionId});

const startDate = currProgram?.start_date && new Date(currProgram.start_date) || new Date();

function isDayInACycle(dayIndex, cycleArr){
	let lastCycleIndex = 0;
	for(let i =0; i < cycleArr.length; i++){
		const {id, cycle_size} = cycleArr[i];

		if(dayIndex <= lastCycleIndex + cycle_size){
			return id;
		}

		lastCycleIndex += cycle_size;
	}

	return null;
}	;

function getDayClass(dayIndex, cycleArr, currCycleId){
	let className = "";

	if(dayIndex === 0){
		className += "startDate ";
	}

	const dayCycle = isDayInACycle(dayIndex, cycleArr);

	if(dayCycle === null){
		className += "no-cycle";
		return className;
	}

	if(dayCycle === currCycleId){
		className += "cycle-selected";
		return className;
	}

	className += "cycle-not-selected";
	return className;
}


const dayArr = range(31).map(day=> {
	const date = formatDate(addDays(startDate, day), "dd/MM/yyyy");
	const className = getDayClass(day, cycleArr, currCycleId);
	const hasCycleSelected = currCycleId === isDayInACycle(day, cycleArr);

	return {
		id: day, 
		date,
		hasCycleSelected,
		className,
	}
});

console.log({dayArr});

%>

<main class="main programs">
	<div>
		<% if(currUserId){ %>
			<h1>CHOOSE THE ACTIVE PROGRAM</h1>
			<%- include("partials/basicLine", {line: { arr: programArr, modalId: createProgramModalId, path: setProgramPath, 
			currentItemId: currProgramId, payloadName: setProgramPayloadName, destination: setProgramDestination, dataId: "programsBasicLine"}}) %>
			<% if(currProgramId) { %>
				<h2>Cycles</h2>
				<%- include("partials/basicLine", {line: { arr:cycleArr , modalId: createCycleModalId, path: setCyclePath,
				currentItemId: currCycleId, payloadName: setCyclePayloadName, destination: setCycleDestination, dataId: "cyclesBasicLine" }}) %>
			<% } %>
		<% } %>
	</div>

	<div class="basic-calendar"> 
		<ul class="list">
			<% dayArr.forEach((day) => { %>
				<li class="day-item <%= day.className %>"> 
					<% if(day.hasCycleSelected) { %>
						<button data-calendar-session-button="dayId: <%= day.date %>">
							<%= day.date %>
						</button>
					<% } else { %>
						<p >
							<%= day.date %>
						</p>
					<% } %>
				</li>
			<% }) %>
		</ul>
	</div>

	<% if(sessionArr.length > 0){ %>
		<div>
			<ul>
				<% sessionArr.forEach(session => { %>
					<li>
						<p><%= session.name %></p>
					</li>
				<% }) %>
			</ul>
		</div>
	<% } %>

	<% if(currSessionId) { %>

		<h3>SESSION SELECTED</h3>

	<% } %>

</main>

<script>
	document.addEventListener("click", async(e) => {
		const dayButton = event.target.closest("[data-calendar-session-button]");

		if(!dayButton) return;

		console.log({session: dayButton?.dataset.calendarSessionButton});

		// const path = "/app_state/set_current_session";
		// const destination = "/programs";

		// const itemId = li.dataset.itemId || null;

		// const res = await fetch(path, {
		// 	method: "POST",
		// 	headers: {
		// 		"Content-Type": "application/json",
		// 	},
		// 	body: JSON.stringify({ sessionId: itemId }),
		// });

		// if(!res.ok) return;

		// window.location.href = destination;
	})

</script>



	<!-- document.addEventListener("click", async (e) => {
		const button = e.target.closest(".selectItemButton");
		if (!button) return;

		const basicLine = button.closest(".basic-line");
		const path = basicLine?.dataset.path;
		const payloadName = basicLine?.dataset.payloadName;
		const destination = basicLine?.dataset.destination;
		if (!path) return;

		const li = button.closest("[data-item-id]"); -->


	<!-- function handleOpenClick(event) {
		const openButton = event.target.closest("[data-modal-open]"); -->





<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
	modal: {
		id: createProgramModalId,
		title: "Create program",
		description: "Fill in the program information below.",
		renderContent: () => include("partials/newProgramForm")
	}
}) %>

<%- include("partials/basicModal", {
	modal: {
		id: createCycleModalId,
		title: "Create cycle",
		description: "Fill in the cycle information below.",
		renderContent: () => include("partials/cycleForm")
	}
}) %>